html, body {
	height: 100%
}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block
}
body {
	min-height: 416px;
	color: #000;
	text-align: center;
	font-family: "HiraKakuProN-W3", "ヒラギノ角ゴ ProN W3", "Arial", "Helvetica", sans-serif;
	-webkit-text-size-adjust: none;
	background: #fff
}
a, a:link {
	color: #000;
	text-decoration: underline;
	outline: none
}
a:visited {
	color: #000
}
a:hover {
	color: #666;
	text-decoration: none
}
a:active {
	color: #000
}
img {
	vertical-align: top;
	font-size: 1px;
	line-height: 0;
	border: 0
}
ul {
	list-style: none
}
sub, sup {
	font-size: 14px;
	line-height: 0;
	position: relative
}
sup {
	top: -0.5em
}
sub {
	bottom: -0.25em
}
.vamiddle {
	vertical-align: middle
}
.clear {
	clear: both
}
.txtreplace {
	display: block;
	text-align: left;
	text-indent: -9999px;
	background-position: 0 0;
	background-repeat: no-repeat;
	overflow: hidden
}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}
#dinky {
	font-size: 12px;
	line-height: 1.5;
	background-color: #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}
#dinky .btm0 {
	margin-bottom: 0
}
#dinky .btm10 {
	margin-bottom: 10px
}
#dinky .btm25 {
	margin-bottom: 25px
}
#dinky .btm1em {
	margin-bottom: 1em
}
#dinky img {
	width: 100%;
	height: auto
}
#dinky .coach-logo {
	width: 100%;
	margin-bottom: 0px;
	background-color: #fff
}
#dinky .coach-banner {
	width: 100%;
	margin-bottom: 0px;
	background-color: #fff
}
#dinky .content-wrap {
	padding: 15px 25px;
	box-sizing: border-box
}
#dinky .content-wrap.thanks {
	padding: 50px 5%
}
#dinky .content-wrap * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}
#dinky .content-wrap .intro {
	font-family: "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", serif !important;
	font-size: 14px;
	line-height: 1.7
}
#dinky .content-wrap .kv {
	text-align: center;
	margin-bottom: 40px
}
#dinky .content-wrap .kv img {
	max-width: 255px
}
#dinky .content-wrap .error-message {
	display: none;
	font-size: .88em;
	color: #c00;
	text-align: left
}
#dinky .content-wrap .required {
	position: relative;
	margin-bottom: 15px
}
#dinky .serect_adjustment {
	margin-top: -15px;
	padding-bottom: 15px;
}
#dinky .content-wrap .required input[type=text], #dinky .content-wrap .required textarea {
	display: block;
	width: 100%;
	color: #000;
	margin: 0;
	padding: 5px .5em;
	outline: 0;
	font-family: "Lato", "HiraKakuProN-W3", "ヒラギノ角ゴ ProN W3", "Arial", "Helvetica", sans-serif;
	font-size: 12px;
	line-height: 20px;
	background-color: transparent;
	border: 2px solid #000;
	-webkit-border-radius: 2px;
	border-radius: 2px
}
#dinky .content-wrap .required input[type=text]:-moz-placeholder, #dinky .content-wrap .required textarea:-moz-placeholder {
	color: #666
}
#dinky .content-wrap .required input[type=text]::-webkit-input-placeholder, #dinky .content-wrap .required textarea::-webkit-input-placeholder {
	color: #666
}
#dinky .content-wrap .required textarea {
	height: 10em
}
#dinky .content-wrap .required.error input[type=text] {
	border: 2px solid #c00
}
#dinky .content-wrap .required.error select {
	border: 2px solid #c00
}
#dinky .content-wrap .required.error .error-message {
	display: block
}
#dinky .content-wrap .required.btm15 {
	margin-bottom: 15px
}
#dinky .content-wrap .infield-label {
	position: absolute;
	top: 6px;
	left: 2%;
	font-size: 12px;
	cursor: text
}
#dinky .content-wrap .label-text {
	margin-bottom: 5px;
	text-align: left;
	font-size: 8px
}
#dinky .content-wrap input[type=text], #dinky .content-wrap input[type=submit], #dinky .content-wrap select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none
}
#dinky .content-wrap select {
	display: block;
	width: 100%;
	color: #666;
	margin: 0;
	padding: 2px .5em;
	outline: 0;
	font-family: "Lato", "HiraKakuProN-W3", "ヒラギノ角ゴ ProN W3", "Arial", "Helvetica", sans-serif;
	font-size: 11px;
	line-height: 20px;
	background-color: transparent;
	border: 2px solid #000;
	-webkit-border-radius: 2px;
	border-radius: 2px
}
#dinky .content-wrap select option {
	background-color: #000
}
#dinky .content-wrap input[type=checkbox], #dinky .content-wrap input[type=radio] {
	-webkit-transform: scale(1.2);
	transform: scale(1.2)
}
#dinky .content-wrap .birth-day {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	justify-content: space-between
}
#dinky .content-wrap .birth-day .birth-day-box {
	width: 32%
}
#dinky .content-wrap .birth-day .birth-day-box.error select {
	border: 2px solid #c00
}
#dinky .content-wrap .birth-day select {
	font-size: .88em
}
#dinky .content-wrap .must-item {
	margin-bottom: 30px;
	text-align: left
}
#dinky .content-wrap .check-items {
	text-align: left
}
#dinky .content-wrap .check-items li {
	margin-bottom: 20px;
	display: -moz-box;
	display: -webkit-box;
}
#dinky .content-wrap .check-items li.btm0 {
	margin-bottom: 0
}
#dinky .content-wrap .check-items li a {
	color: #fff
}
#dinky .content-wrap .check-items li .check {
	width: 30px
}
#dinky .content-wrap .check-items li .text {
	-moz-box-flex: 1;
	-webkit-box-flex: 1;
	box-flex: 1
}
#dinky .content-wrap .check-items li input[type=radio], #dinky .content-wrap .check-items li input[type=checkbox] {
	display: inline-block;
	margin-right: 6px
}
#dinky .content-wrap .check-items li input[type=radio]+label, #dinky .content-wrap .check-items li input[type=checkbox]+label {
	position: relative;
	display: inline-block;
	margin-right: 12px;
	font-size: 14px;
	line-height: 30px;
	cursor: pointer
}
#dinky .content-wrap .table-ul {
	display: table;
	table-layout: fixed;
	text-align: center;
	width: 100%;
}
#dinky .content-wrap .table-ul li:first-child {
	display: table-cell;
	padding-right: 1%;
	padding-left: 0;
}
#dinky .content-wrap .table-ul li {
	display: table-cell;
	padding-right: 1%;
	padding-left: 1%;
}
#dinky .content-wrap .table-ul li:last-child {
	display: table-cell;
	padding-right: 0;
	padding-left: 1%;
}
@media (min-width: 1px) {
	#dinky .content-wrap .check-items li input[type=radio], #dinky .content-wrap .check-items li input[type=checkbox] {
		display: none;
		margin: 0
	}
	#dinky .content-wrap .check-items li input[type=radio]+label, #dinky .content-wrap .check-items li input[type=checkbox]+label {
		padding: 0 0 0 24px
	}
	#dinky .content-wrap .check-items li input[type=radio]+label::before, #dinky .content-wrap .check-items li input[type=checkbox]+label::before {
		content: "";
		position: absolute;
		top: 50%;
		left: 0;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		display: block;
		width: 18px;
		height: 18px;
		margin-top: -9px;
		background: #FFF
	}
	#dinky .content-wrap .check-items li input[type=radio]+label::before {
		border: 2px solid #ccc;
		border-radius: 30px
	}
	#dinky .content-wrap .check-items li input[type=checkbox]+label::before {
		border: 2px solid #000;
		border-radius: 2px
	}
	#dinky .content-wrap .check-items li input[type=radio]:checked+label::after, #dinky .content-wrap .check-items li input[type=checkbox]:checked+label::after {
		content: "";
		position: absolute;
		top: 50%;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		display: block
	}
	#dinky .content-wrap .check-items li input[type=radio]:checked+label::after {
		left: 6px;
		width: 9px;
		height: 9px;
		margin-top: -4px;
		background: #E71063;
		border-radius: 8px
	}
	#dinky .content-wrap .check-items li input[type=checkbox]:checked+label::after {
		left: 4px;
		width: 10px;
		height: 7px;
		margin-top: -5px;
		border-left: 2px solid #000;
		border-bottom: 2px solid #000;
		-webkit-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		transform: rotate(-45deg)
	}
}
#dinky .content-wrap .check-items li.error input[type=checkbox]+label::before {
	border: 2px solid #c00
}
#dinky .content-wrap .btn-sbumt {
	width: 145px;
	margin: 0 auto 20px auto
}
#dinky .content-wrap .btn-sbumt.btm0 {
	margin: 0 auto
}
#dinky .content-wrap .btn-sbumt.btm40 {
	margin: 0 auto 40px auto
}
#dinky .content-wrap .btn-sbumt .submit-button {
	width: 100%;
	padding: .75em 0;
	color: #fff;
	font-family: "Lato", "HiraKakuProN-W3", "ヒラギノ角ゴ ProN W3", "Arial", "Helvetica", sans-serif;
	background: #000;
	border-radius: 5px;
	border: none
}
#dinky .content-wrap .footer-links {
	padding: 20px 0;
	letter-spacing: -0.4em
}
#dinky .content-wrap .footer-links li {
	display: inline-block;
	letter-spacing: normal;
	padding: 0 10px;
	border-right: 1px solid #ccc
}
#dinky .content-wrap .footer-links li:last-child {
	border-right: none
}
#dinky .selena-wrap h3 {
	padding: 10px 25px;
	box-sizing: border-box;
	margin-top: 15px;
	margin-bottom: 0px;
	font-family: "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", serif !important;
	font-size: 18px;
	line-height: 1.3
}
#dinky .selena-wrap .selena_text {
	padding: 0px 15px;
	margin-bottom: 5px;
	text-align: left;
	font-size: 12px;
}
#dinky .selena-wrap .selena_text p {
	margin: 1.0em;
}
#dinky .selena-wrap .selena_text small {
	font-size: 10px;
}
#dinky.thanks {
	color: #fff;
	background-color: #3c3f43
}
#dinky.thanks .thanks-wrap {
	position: relative
}
#dinky.thanks .coach-logo-thanks {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: auto
}
#dinky.thanks .hl-thanks {
	position: absolute;
	top: 64.38%;
	left: 0;
	width: 100%;
	height: auto
}
#dinky.thanks .thanks-copy {
	position: absolute;
	top: 74.2%;
	left: 0;
	width: 100%;
	height: auto;
	padding: 0 5%;
	font-family: "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", serif !important;
	font-size: 13px;
	line-height: 1.5;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}
#dinky.end .coach-logo-end {
	margin-bottom: 50px
}
#dinky.end .hl-end {
	margin-bottom: 20px
}
#dinky.end .thanks-copy {
	padding: 0 5%;
	font-family: "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", serif !important;
	font-size: 13px;
	line-height: 1.5;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

/* BUTTON
   ========================================================================== */
.m_btn {
  position: relative;
  z-index: 0;
  margin: 0 16px 16px;
  background-color: #010101;
  font-size: 1.125rem;
  font-weight: bold;
  text-align: center;
}
.m_btn::after {
  position: absolute;
  content: '';
  top: 50%;
  right: 25px;
  margin: -8px auto 0;
  width: 8px;
  height: 8px;
  border: 4px #fff solid;
  border-width: 4px 4px 0 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.m_btn a,
.m_btn input[type="submit"],
.m_btn button {
  position: relative;
  z-index: 1;
  display: block;
  padding: 25px 0 22px;
  background: transparent;
  width: 100%;
  border: none;
  color: #fff;
  line-height: 1;
  text-decoration: none;
}
.m_btn input[type="submit"]:disabled {
  background-color: #afafaf;
}

/* FORM
   ========================================================================== */

input, textarea, button, select {
	-moz-appearance: none;
	-webkit-appearance: none;
}
.m_form {
	margin-bottom: 40px;
}
.m_form p.m_form_item_error {
	display: none;
	margin: 0;
	padding: 10px 0 0;
	color: #c00;
}
.m_form_item {
	margin: 0 15px 26px;
}
.m_form_item.is_date>dd .m_form_selectbox_wrap {
	width: auto;
}
/*.m_form_item.is_date > dd .m_form_selectbox_wrap:first-of-type {*/

/*margin-bottom: 15px;*/

/*}*/

/*.m_form_item.is_date > dd .m_form_selectbox_wrap:last-of-type {*/

/*margin-left: 5px;*/

/*}*/

.m_form_item.is_1column>dd>label {
	display: block;
	margin-bottom: 15px;
}
.m_form_item.is_1column>dd>label+label {
	margin-left: 0;
}
.m_form_item.is_1column>dd>label:last-of-type {
	margin-bottom: 0;
}
.m_form_item.is_2column>dd {
	display: -webkit-flex;
	display: -ms-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.m_form_item.is_2column>dd>label {
	margin-bottom: 15px;
	width: 50%;
	box-sizing: border-box;
}
.m_form_item.is_2column>dd>label:nth-of-type(odd) {
	padding-right: 10px;
}
.m_form_item.is_2column>dd>label:nth-of-type(even) {
	padding-left: 10px;
}
.m_form_item.is_2column>dd>label+label {
	margin-left: 0;
}
.m_form_item.is_2column>dd>label:last-of-type {
	margin-bottom: 0;
}
.m_form_item.is_campaign {
	padding-bottom: 0;
}
.m_form_item.is_campaign>dd {
	padding: 30px 16px;
	background-color: #f5f5f5;
}
.m_form_item_note {
	display: block;
	margin: 0 0 20px;
	font-size: 0.75rem;
	color: #252525;
	font-weight: normal;
}
.m_form_item+.m_form_item {
	padding-top: 26px;
	border-top: 1px #ededed solid;
}
.m_form_item>dt {
	margin: 0 0 20px;
	line-height: 1.4;
}
.m_form_item>dt>label {
	font-size: 14px;
	font-weight: bold;
}
.m_form_item>dd {
	margin: 0;
}
.m_form_item>dd>label span {
	position: relative;
	display: block;
	padding: 2px 0 0 30px;
	line-height: 1.4;
	vertical-align: top;
}
.m_form_item>dd>label+label {
	margin-left: 55px;
}
.m_form_item>dd>label input[type="radio"] {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}
.m_form_item>dd>label input[type="radio"]+span::before {
	position: absolute;
	display: inline-block;
	content: '';
	box-sizing: border-box;
	border-radius: 22px;
}
.m_form_item>dd>label input[type="radio"]+span::before {
	z-index: 0;
	top: 0;
	left: 0;
	background-color: #ededed;
	width: 22px;
	height: 22px;
	border: 1px #d4d4d4 solid;
}
.m_form_item>dd>label input[type="radio"]:checked+span::before {
	background-color: #fff;
	border-width: 6px;
	border-color: #010101;
}
.m_form_item>dd>label input[type="checkbox"] {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}
.m_form_item>dd>label input[type="checkbox"]+span::before, .m_form_item>dd>label input[type="checkbox"]+span::after {
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	content: '';
	box-sizing: border-box;
}
.m_form_item>dd>label input[type="checkbox"]+span::before {
	z-index: 0;
	background-color: #ededed;
	width: 22px;
	height: 22px;
	border: 1px #d4d4d4 solid;
	border-radius: 4px;
}
.m_form_item>dd>label input[type="checkbox"]+span::after {
	z-index: 1;
	margin: 4px 7px;
	width: 8px;
	height: 10px;
}
.m_form_item>dd>label input[type="checkbox"]:checked+span::before {
	background-color: #010101;
	border: none;
}
.m_form_item>dd>label input[type="checkbox"]:checked+span::after {
	border: 2px solid #fff;
	border-width: 0 2px 2px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.m_form_item label {
	position: relative;
	display: inline-block;
	min-width: 2.5em;
}
.m_form_item label.m_form_item_label_radio {
	font-weight: normal;
}
.m_form_item input[type="text"], .m_form_item textarea {
	/*background-color: #ededed;*/
	padding: 13px;
	width: 100%;
	box-sizing: border-box;
	border: 1px #d4d4d4 solid;
	border-radius: 4px;
}
.m_form_item textarea {
	height: 125px;
	resize: vertical;
	line-height: 1.4;
}
.m_form_item.is_invalid>dd input[type="text"], .m_form_item.is_invalid>dd textarea, .m_form_item.is_invalid>dd .m_form_selectbox_wrap, .m_form_item.is_invalid>dd>label input+span::before {
	background-color: #ffe1e1;
	border-color: #c00;
}
.m_form_selectbox {
	position: relative;
	z-index: 0;
	display: block;
	padding: 7px 34px 5px 10px;
	width: 100%;
	background-color: transparent;
	background-image: none;
	border: none;
	border-radius: 0;
	box-shadow: none;
	line-height: 1.8;
	height: 46px;
	text-indent: 0;
}
.m_form_selectbox_wrap {
	position: relative;
	display: inline-block;
	background-color: #ededed;
	width: 100%;
	border: 1px #d4d4d4 solid;
	border-radius: 5px;
	box-sizing: border-box;
	vertical-align: middle;
	overflow: hidden;
}
.m_form_selectbox_wrap::before {
	position: absolute;
	content: '';
	top: 50%;
	right: 8px;
	margin: -8px auto 0;
	width: 6px;
	height: 6px;
	border: 4px #b6b6b6 solid;
	border-width: 0 4px 4px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.m_form_enquete {
	margin: 0 0 40px;
	padding: 30px 0 0;
	background: url("../img/line2.png") repeat-x top left;
	background-size: auto 12px;
}
.m_form_enquete_ttl {
	display: block;
	margin: 0;
}
.m_form_enquete_txt {
	margin: 0 0 20px;
	font-size: 0.8125rem;
	text-align: center;
}
.m_form_enquete .m_form_selectbox_wrap {
	margin-bottom: 15px;
	width: 6.5em;
	max-width: 50%;
	vertical-align: middle;
}
.m_form_enquete .m_form_selectbox_wrap:nth-of-type(1) {
	width: 8.5em;
}
.m_form_enquete .m_form_selectbox_wrap:nth-of-type(3) {
	margin-left: .5em;
}
.m_form_agreement {
	padding: 30px 0 0;
	font-size: 0.75rem;
	line-height: 1.6;
	border-top: 1px #ededed solid;
	border-bottom: 1px #ededed solid;
	padding-bottom: 40px;
}
.m_form_agreement_ttl {
	margin: 0 0 20px;
	font-size: 0.75rem;
	font-weight: bold;
	text-align: center;
}
.m_form_agreement_txt {
	margin: 0 16px 30px;
}
.m_form_agreement_txt2 {
	margin: 0 0 15px;
}
.m_form_agreement_txt2>dt {
	margin-bottom: 25px;
}
.m_form_agreement_txt2>dd {
	counter-reset: agreementItem;
	margin: 0 16px;
	padding: 15px 12px;
	background-color: #fff;
	height: 250px;
	border: 1px #d4d4d4 solid;
	border-radius: 4px;
	overflow-y: scroll;
}
.m_form_agreement_txt2>dd span {
	display: block;
}
.m_form_agreement_item {
	margin: 0 0 15px;
	text-align: left;
}
.m_form_agreement_item .guideline-list li {
	text-align: left;
	margin-bottom: 30px
}
.m_form_agreement_item .guideline-list li {
	text-indent: 0em;
	margin-left: 1em;
	margin-bottom: 0.5em;
	list-style: disc
}
.m_form_agreement_item2 {
	margin: 0 0 15px;
}
.m_form_agreement_check {
	padding: 20px 0 0;
	background-color: #fff;
	font-size: 12px;
	text-align: center;
}
.m_form_agreement_check .m_form_item {
	display: inline-block;
}
.m_form_agreement_check dd {
	margin: 0;
}
